<section id="contact" class="block-feature-alt">
  <div class="block-feature-content">
    <h2 class="block-title center-text">Schedule Your Big Green Egg</h2>
    <hr/>
  </div>
  <div class="block-text">
    <div class="container">
      <form method="post" action="/thanks/" name="contact" netlify-honeypot="bot-field" data-netlify="true">
        <label class="hidden">Don’t fill this out: <input name="bot-field"></label>
        <div class="form-group">
          <label class="form-label">What's your name?</label>
          <input type="text" class="form-control" name="name" id="name" required/>
        </div>
        <div class="form-group">
          <label class="form-label">How about an email address?</label>
          <input type="text" class="form-control" name="email" id="email" required/>
        </div>
        <div class="form-group">
          <label class="form-label">What's a good phone number?</label>
          <input type="tel" class="form-control" name="phone" id="phone" />
        </div>
        <div class="form-group">
          <label class="form-label">Message</label>
          <textarea class="form-control" name="message" required></textarea>
        </div>
        <div class="form-group" netlify-recaptcha></div>
        <button class="fancy-button bg2" type="submit" value="send"><span>Submit</span></button>

      </form>
    </div>
  </div>
</section>