<nav id="main-nav" class="fade-in-slower">
    <div class="nav-container">
        <a href="{{ .Site.BaseURL }}" class="nav-title"><img class="nav-logo" src="/images/logo-small.svg" alt="{{ .Site.Title }}"></a>
      <div class="nav-items">
          <div class="vertical">
          <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main.ByWeight }}
              <li>
                <a href="{{ .URL }}" id="" class="navbar-item{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                  {{ .Name }}
                </a>
              </li> 
            {{ end }}
            <a href="#contact" class="button nav-button"><span>Contact</span></a>
          </ul>
          
          <a href="#" class="nav-button" id="navButton">
            <span class="burger-icon"></span>
          </a>
        </div>
      </div>
    </div>

</nav>
<nav id="mobile-nav" class="mobile-nav exit">
  <div class="mobile-nav-items">
    <div class="vertical">
    <ul>
      {{ $currentPage := . }}
        {{ range .Site.Menus.main.ByWeight }}
        <li>
          <a href="{{ .URL }}" id="" class="navbar-item{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
        <li>
          <a href="/contact/" id="" class="navbar-item">Contact</a>
        </li> 

    </ul>
    </div>
  </div>
</nav>
