<script src="//unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
<script src="//unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js"></script>

{{ $lazyload := resources.Get "js/vendor/lazyload.js" }}
{{ $imagesloaded := resources.Get "js/vendor/imagesloaded.js" }}

{{ $baguette := resources.Get "js/vendor/baguetteBox.js" }}

{{ $head := resources.Get "js/vendor/headroom.min.js" | minify }}

{{ $masonry := resources.Get "js/vendor/masonry.js" }}

{{ $main := resources.Get "js/app.js" }}

{{ $scripts := slice $lazyload $imagesloaded $baguette $masonry $head $main | resources.Concat "app.js" | minify | fingerprint }}

{{ $s := resources.Get "js/app.js" | minify }}

{{ $insta := resources.Get "js/vendor/instafeed.min.js" | minify }}

{{ $head := resources.Get "js/vendor/headroom.min.js" | minify }}

{{ $baguette := resources.Get "js/vendor/baguetteBox.js" }}


<script src="{{ $scripts.RelPermalink }}"></script>


<script type="text/javascript">
var grid = document.querySelector('.masonry');
var msnry;

imagesLoaded( grid, function() {
  // init Isotope after all images have loaded
  msnry = new Masonry( grid, {
    itemSelector: '.masonry-item',
    columnWidth: '.masonry-sizer',
    gutter: '.gutter-sizer',
    percentPosition: true
  });
});
</script>
