
.block-section{
  display: inline-block;
  width: 100%;
}
.block-image{
  display: table;
  width: 50%;
  min-height: 30vw;
  max-height: 30vw;
  height: 30vw;
  background: $color-brand;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  box-shadow: $box-shadow-alt;
  @include span(1/2);
  @media (max-width: $tablet) {
    @include stack();
    min-height: 50vw;
    max-height: 50vw;
    height: 50vw;
  }
  .container{
    text-align: center;
  }
  img{
    height: 30vh;
    width: auto;
  }
}
.block-content{
  display: table;
  width: 50%;
  min-height: 30vw;
  max-height: 30vw;
  height: 30vw;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: scroll;
  -webkit-background-size: 70%;
  -moz-background-size: 70%;
  -o-background-size: 70%;
  background-size: 70%;
  overflow-y: hidden;
  @include span(1/2);
  margin-bottom: $spacing-unit;
  @media (max-width: $tablet) {
    @include stack();
    display: table;
    min-height: 50vw;
    max-height: 50vw;
    height: 50vw;
    padding: $spacing-unit / 2 0 $spacing-unit / 4;
    
  }
  .block-text{
    text-align: center;
    @media (max-width: $tablet) {
      text-align: left;
    }
    p{
      font-size: 1.1rem;
    }
    h2{
      font-size: 3rem;
      text-align: center;
      @media (max-width: $tablet) {
        font-size: 2rem;
      }
    }
    hr{
      background: $color-brand;
      margin-bottom: $spacing-unit / 1.5;
      width: 5em;
      height: .3em; 
    }
  }
}
.block-feature{
  width: 100%;
  display: table;
  min-height: 40vh;
  max-height: 40vh;
  height: 40vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: $spacing-unit;
  padding: $spacing-unit 0;
  .block-feature-content{
    display: table;
    width: 100%;
    padding: $spacing-unit 0;
    text-align: center;
    p{
      color: $color-white;
    }
    h2{
      font-size: 4rem;
      font-family: $header-font-family;
      color: $color-white;
      @media (max-width: $tablet) {
        font-size: 2rem;
      }
    }
    hr{
      background: $color-white;
      margin-bottom: $spacing-unit / 1.5;
      width: 5em;
      height: .3em; 
    }
  }
}
.block-feature-item{
  @include column(1/3);
  box-shadow: $box-shadow;
  margin-bottom: $spacing-unit / 2;
  text-align: center;
  @media (max-width: $tablet) {
    @include stack();
    box-shadow: none;
    text-align: left;
  }
  p{
    font-size: 1rem;
  }
  h3{
    font-size: 2rem;
    text-align: center;
    margin-bottom: $spacing-unit / 4;
  }
  img{
    min-width: 100%;
    height: auto;
    margin-bottom: $spacing-unit / 2;
  }
}
.block-feature-alt{
  width: 100%;
  display: table;
  min-height: 40vh;
  max-height: 40vh;
  height: 40vh;
  margin-bottom: $spacing-unit;
  padding: $spacing-unit 0;
  .block-feature-content{
    hr{
      background: $color-brand;
      margin-bottom: $spacing-unit / 1.5;
      width: 5em;
      height: .3em; 
    }
  }
}
.block-text{
  width: 100%;
  text-align: center;
  @media (max-width: $tablet) {
    text-align: left;
  }
  h2{
    font-size: 2rem;
    text-align: center;
    color: $color-brand;
  }
}

.block-gallery-item{
  img{
    height: 20vh;
    width: auto;
    box-shadow: $box-shadow;
    @include column(1/4, $cycle: 4);
    margin-bottom: $spacing-unit;
  }

}
.instafeed{
  display: inline-block;
  width: 94%;
  padding: 0 3%;
  text-align: center;

}
.block-instagram{
  min-height: 20vw;
  max-height: 20vw;
  height: 20vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: $box-shadow;
  @include column(1/4, $cycle: 4);
  margin-bottom: $spacing-unit;
  @media (max-width: $tablet) {
    @include column(1/2, $cycle: 2);
    min-height: 40vw;
    max-height: 40vw;
    height: 40vw;
    margin-bottom: $spacing-unit / 2;
  }
}
