footer{
  height: 10em;
  width: 100%;
  padding: $spacing-unit / 2 0;
  display: table;
  text-align: center;
  
  .footer-logo{
    height: 5em;
    width: auto;
    margin: $spacing-unit 0;
  }
  a.footer-link{
    &:hover{
      box-shadow: 0 .1em .4em - .4em $color-brand-alt;
    }
  }

  address{
    font-family: $base-font-family;
    color: $color-white;
    text-transform: uppercase;

  }
}