footer{
  background: $color-white;
  height: 20em;
  width: 100%;
  padding: $spacing-unit / 2 0;
  display: table;
  text-align: center;

  .footer-logo{
    height: 5em;
    width: auto;
    
  }
}