.site-main{
  width: 100%;
  margin: auto;
}

.home-banner{
  height: 90vh;
  min-height: 90vh;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .home-banner-content{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-radius: .2em;
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    .home-banner-logo{
      height: 50vh;
      width: auto;
      margin-top: $spacing-unit;
      margin-bottom: $spacing-unit / 2;
    }
    .home-banner-title{
      font-size: 4rem;
    }
  }
} 
.page-header{
  height: 70vh;
  min-height: 70vh;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .page-header-content{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: $spacing-unit;
    .page-title{
      font-size: 6rem;
      font-family: $header-font-family;
      margin: 0;
      color: $color-white;
    }
  }
  .page-header-logo{
    height: 20vh;
    width: auto;
    margin-top: $spacing-unit;
  }

} 

.post{
  h2{
    text-align: center;
  }
}