nav{
  width: 100%;
  display: table;
  text-align: center;
  position: absolute;
  z-index: 2000;
  -webkit-transition: all .3s ease-out; /* Saf3.2+, Chrome */
  -moz-transition: all .3s ease-out; /* FF3.7+ */
  -o-transition: all .3s ease-out; /* Opera 10.5 */
  transition: all .3s ease-out;
  box-shadow: $box-shadow;
  background: $color-white;
  }
  .headroom--top{
    position: absolute;
  }
  .headroom--pinned{
    position: fixed;
    .nav-items{
      ul{
        li{
          a{
            color: $color-brand;
          }
        }
      }
    }
  }
  .headroom--unpinned{
    position: absolute;
  }
  a.nav-link{
    color: $color-white;
    background: $color-brand-alt;
    padding: 2.2em 0;
    display: inline-block;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 300;
    letter-spacing: .2em;
    @media (max-width: $tablet) {
      display: none;
    }
    @include span(1/8);
    &:hover {
      background: lighten($color-brand-alt, 10%);
      text-decoration: none;
    }
  }
  .nav-container{
    @include span(7/8);
    @media (max-width: $tablet) {
      @include span(1);
    }
  }
  .nav-items{
    height: 5em;
    width: 100%;
    img.nav-logo{
      height: 2em;
      padding: .3em 0 ;
      margin-left: $spacing-unit / 2;
      float: left;
      font-size: 1.8rem;
      width: auto;
      display: block;
      @media (max-width: $tablet) {
        display: block;
      }
    }
    ul{
      margin: 0;
      float: right;
      @media (max-width: $tablet) {
        display: none;
      }
      li{
        float: left;
        display: block;
        margin: 0 .2em;
        a{
          color: $color-brand;
          background: $color-transparent;
          display: inline-block;
          padding: $spacing-unit / 2.38 $spacing-unit / 4;
          box-shadow: none;
          font-size: .8rem;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: .2em;
          box-shadow: 0 .2em .4em - .4em $color-transparent;
          
        }
        a:hover{
          color: $color-brand-alt;
          box-shadow: 0 .2em .4em - .4em $color-brand-alt;
        }
        a.active{
          color: $color-brand;
          box-shadow: 0 .2em .4em - .4em $color-brand-alt;
        }
      }

  }
}
a.nav-button {
  display: none;
  padding: $spacing-unit / 2.38;
  z-index: 2000;
  box-shadow: none;
  float: right;
  @media (max-width: $tablet) {
    display: inline-block;
  }
}
@import "burger";
.burger-icon {
	@include burger(30px, 3px, 5px, $color-brand-alt);
}
.dark .burger-icon {
	@include burger(30px, 3px, 5px, $color-black);
}
.nav-button.is-active .burger-icon {
	@include burger-to-cross($color-brand);
}

//Mobile Menu
.mobile-nav{
  width: 100%;
  height: 100%;
  z-index: -3;
  text-transform: uppercase;
  text-align: center;
  background: $color-white;
  position: fixed;
  display: none;
  opacity: 0;

  &.load{
    z-index: $height-high;
  }
  
}
.mobile-nav-items{
  width: 100vw;
  height: 100vh;
  display: table;
  letter-spacing: .2em;
}
.mobile-nav-items ul{
  width: 100vw;
  height: 100vh;
}
.mobile-nav-items a{
  font-size: .9rem;
  letter-spacing: .1em;
  display: block;
  padding: .5em 0;
  width: 100%;
  margin: 0 auto;
}
.mobile-nav-items a:hover{
  text-decoration: none;
  color: $color-brand;
  -webkit-transition: color .3s linear; /* Saf3.2+, Chrome */
  -moz-transition: color .3s linear; /* FF3.7+ */
  -o-transition: color .3s linear; /* Opera 10.5 */
  transition: color .3s linear;
}

.mobile-nav-items a.nav-calltoaction{
  color: $color-white;
  background: $color-brand;
  &:hover {
    color: $color-white;
  }
}