/**
 * Animations
 */
 .load{
  @include fadeIn();
  display: block;
}
.exit{
  @include fadeOut();
  display: block;
}
.fade-in{
  @include fadeIn(
    $delay: .6s
  )
}
.fade-in-slow{
  @include fadeIn(
    $delay: .8s
  );
}
.fade-in-slower{
  @include fadeIn(
    $delay: 1s
  );
}
.fade-in-slowest{
  @include fadeIn(
    $delay: 1.4s
  );
}

.fade-in-up{
  @include fadeInUp(
    $delay: .8s
  );
}
.fade-in-up-slow{
  @include fadeInUp(
    $delay: 1s
  );
}
.fade-in-up-slower{
  @include fadeInUp(
    $delay: 1.4s
  );
}
.fade-in-up-slowest{
  @include fadeInUp(
    $delay: 1.6s
  );
}

.fade-out{
  @include fadeOut(
    $delay: .8s
  );
}