{{ define "main" }}
{{ block "page-header" . }}{{ partial "site/page-header.html" . }}{{ end }}
  <article class="page">
    {{- range .Params.blocks -}}
      {{- if eq .template "block-image" -}}{{ partial "blocks/block-image" (dict "Params" .) }}{{- end -}}
      {{- if eq .template "block-feature" -}}{{ partial "blocks/block-feature" (dict "Params" .) }}{{- end -}}
      {{- if eq .template "block-content" -}}{{ partial "blocks/block-content" (dict "Params" .) }}{{- end -}}
    {{- end -}}
    <div class="container">
      {{ .Content }}
    </div>
  </article>
{{ end }}