{{ define "main" }}
<section class="home-banner" style="background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/images/lake.jpg);">
  <div class="vertical">
    <div class="home-banner-content fade-in-slow">
      <div class="container">
        <img src="/images/lakemartin.svg" class="home-banner-logo" alt="{{ .Title }}">
      </div>
    </div>
  </div>
</section>
{{- range .Params.blocks -}}
{{- if eq .template "block-image" -}}{{ partial "blocks/block-image" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-feature" -}}{{ partial "blocks/block-feature" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-content" -}}{{ partial "blocks/block-content" (dict "Params" .) }}{{- end -}}
{{- end -}}
{{ block "contact" . }}{{ partial "site/contact.html" . }}{{ end }}
{{ end }}