{{ define "main" }}
{{ $image := (resources.Get .Params.image).Fill "2000x1168" }}
<section class="home-banner fade-in" style="background-image:url({{ $image.RelPermalink }});">
  <div class="home-header-overlay"></div>
  <div class="home-banner-content fade-in-slowest">
    <div class="home-banner-cta">
      <div class="container">
        <h2>{{ .Params.calltoaction }}</h2>
        <p>{{ .Params.followup }}</p>
        <a href="{{.Params.button_url}}" class="button"><span>{{.Params.button_text}}</span></a>
      </div>
    </div>
    <div class="home-banner-logo">
      <img src="/images/green-egg-alt.svg" alt="{{ .Title }}">
    </div>
  </div>
  <div class="home-intro fade-in-up-slower">
    <div class="container-wide">
      <div class="home-intro-item">
        <h3>Latest News</h3>
        {{ with .Site.GetPage "/news" }}
          {{ range first 2 .Pages }}
            <p><b>{{ .Title }}</b></p>
              <small>{{ .Date.Format "Monday, Jan 2, 2006" }}</small>
          {{ end }}
        {{ end }}
      <hr />
      <p><a href="/news"><b>More News & Events</b></a></p>
      </div>
      <div class="home-intro-item">
        <h3>Store Hours</h3>
        <div class="container">
          {{ with .Params.hours }}
            {{ range . }}
              <ul>
                <li>
                  <b>{{ .item }}</b>
                </li>
                <li>
                  {{ .hours }}
                </li>
              </ul>
            {{ end }}
          {{ end }}

        </div>
      </div>
      <div class="home-intro-item">
        <h3>Customer Testimonials</h3>
        <p>Hear what our customer's are saying about Lake Martin Mini Mall</p>
        <a href="/testimonials" class="button alt small"><span>Learn More</span></a>
      </div>
    </div>
  </div>
</section>

<article class="page">
  {{ $vendors := $.Site.Data.vendors }}
{{- range .Params.blocks -}}
{{- if eq .template "block-image" -}}{{ partial "blocks/block-image" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-list" -}}{{ partial "blocks/block-list" (dict "Params" . "vendors" $vendors ) }}{{- end -}}
{{- if eq .template "block-feature-items" -}}{{ partial "blocks/block-feature-items" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-feature" -}}{{ partial "blocks/block-feature" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-content" -}}{{ partial "blocks/block-content" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-map" -}}{{ partial "blocks/block-map" (dict "Params" .) }}{{- end -}}
{{- end -}}
{{ block "instafeed" . }}{{ partial "site/instafeed.html" . }}{{ end }}
{{ block "contact" . }}{{ partial "site/contact.html" . }}{{ end }}
</article>
{{ end }}


