<section class="block-section">
  <div class="block-gallery masonry">
    <div class="masonry-sizer"></div>
    <div class="gutter-sizer"></div>
    {{- with .Params.gallery -}}
      {{ range . }}
        {{ $image := (resources.Get .).Resize "1800x" }}
        {{ $imageThumbnail := $image.Resize "100x q25" | images.Filter (images.GaussianBlur 3) }}
          <a class="gallery-item masonry-item" href="{{ $image.RelPermalink }}">
            <img class="lazyload" data-object-fit="cover" src="{{ $imageThumbnail.RelPermalink }}" data-src="{{ $image.RelPermalink }}">
          </a>
      {{ end }}
    {{ end }}
  </div>
</section>