<section class="block-section">
  {{- if and .Params.image -}}
  <div alt="{{ .Params.heading }}" class="block-image {{ .Params.image_alignment }}" style="background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/images-resized/medium/{{ .Params.image }});">
  </div>
  {{ end }}
  <div class="block-content">
    <div class="block-text vertical">
      <div class="container">
          {{- with .Params.heading -}}
          <h2>{{ markdownify . }}</h2>
          {{ end }}
          {{- with .Params.content -}}
          <p>{{ markdownify . }}</p>
          {{- end -}}
          {{- if and .Params.button_url .Params.button_text -}}
          <a href="{{ .Params.button_url }}" class="fancy-button bg2"><span>{{ .Params.button_text }}</span></a>
          {{ end }}
      </div>
    </div>
  </div>
</section>