{{ $image := (resources.Get .Params.image).Fill "1500x1000" }}
<section class="block-feature" alt="{{ .Params.heading }}" style="background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{ $image.RelPermalink }});">
    <div class="vertical">
      <div class="block-feature-content">
        <div class="block-text">
          <div class="container">
              {{- with .Params.heading -}}
              <h2>{{ markdownify . }}</h2>
              <hr />
              {{ end }}
              {{- with .Params.content -}}
              <p>{{ markdownify . }}</p>
              {{- end -}}
              {{- if and .Params.button_url .Params.button_text -}}
              <a href="{{ .Params.button_url }}" class="button shadow"><span>{{ .Params.button_text }}</span></a>
              {{ end }}
          </div>
        </div>
      </div>
    </div>
</section>